@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

 /* Global */
 :root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-red);
    --color-text: var(--color-white);


    /* Colors */
    --color-white: #ffffff;
    --color-black: #1b1b1b;
    --color-red: #ff153c;
    --color-gray: #353a45;

    /* size */
    --size-max-width: 1200px;

    

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', 'Noto Sans Korean', sans-serif;
    margin: 0;
    line-height: 1.5em;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul,
ol {
    list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  color: var(--color-text);
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: var(--color-accent);
}
h2 {

  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}


/* Common */
.section {
    padding: 30px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}


/* title style */
.line-title {
  position: relative;
  width: 400px;
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}


/* Header */
.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: var(--color-text);
}

.fa-heart {
    color: var(--color-accent);
}

.navbar__menu {
    display: flex;
    padding-left: 0;
    transition: transform 0.3s ease-in-out;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: var(--color-accent);
    border-radius: 4px;
}

.navbar__icons {
    display: flex;
    color: var(--color-text);
    padding-left: 0;
    transition: transform 0.3s ease-in-out;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--color-accent);
}
.navbar__menu.active, .navbar__icons.active {
    transform: translateY(0);
}

/*  Modal */
.modal{
   position: fixed;
   display: flex;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.4);
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.show{
    opacity: 1;
    visibility: visible;
}

.modal__content {
   background-color: var(--color-white);
   width: 350px;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 30px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
   text-align: center;
}

.btn-close {
   position: absolute;
   top: 5px;
   right: 15px;
   color: var(--color-accent);
}

.btn-guide {
   background-color: var(--color-accent);
   color: var(--color-text);
   border-radius: 5px;
   font-size: 14px;
   padding: 5px;
   display: block;
}

.modal img {
   width: 90px;
   height: 90px;
   object-fit: cover;
}


/* 메인 Gallery 이미지 */

.gallery {
   padding: 0;
   margin: 0;
   display: flex;
   height: 100vh;
}

.gallery li {
   position: relative;
   border-right: 5px solid #000;
   flex: 1;
   transition: 0.5s;
   overflow: hidden;
}

.gallery li:last-child {
   border-right: none;
}
.gallery li:nth-child(1) {
   background: url(images/slide/img01.webp) no-repeat center center;
   background-size : cover;
}

.gallery li:nth-child(2) {
   background: url(images/slide/img02.webp) no-repeat center center;
   background-size : cover;
}

.gallery li:nth-child(3) {
   background: url(images/slide/img03.webp) no-repeat center center;
   background-size : cover;
}

.gallery li:nth-child(4) {
   background: url(images/slide/img04.webp) no-repeat center center;
   background-size : cover;
}

.gallery li:nth-child(5) {
   background: url(images/slide/img05.webp) no-repeat center center;
   background-size : cover;
}

.gallery:hover li {
   flex: 1;
}
.gallery li:hover {
   flex: 2.5;
   filter: grayscale(1);
}

.content {
   position: absolute;
   background-color: var(--color-black);
   width: 100%;
   height: 170px;
   bottom: -170px;
   transition: 0.5s;
   overflow: hidden;
}

.content__text {
   color: var(--color-text);
   position: relative;
   text-align: center;
   line-height: 1.8em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.gallery li:hover .content {
   bottom: 0;
   transition-delay: 0.5s; 
}




/* middle slide */
.slide {
  padding: 60px 50px;
}
.slide .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.slide__img {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.slide__img.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.slide__img:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(194, 190, 190, 0.1), rgba(0, 0, 0, 0.5));
}
.slide__text {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.slide__img.active .slide__text {
  transform: none;
  -webkit-transform: none;
}
.slide__text p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.slide__img.active .slide__text p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slide .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/* recommend */
.recommends {
   margin: 3rem;
}

.recommend {
   display: flex;
   gap: 2rem;
   align-items: center;
   margin-bottom: 2rem;
}

.recommend:nth-child(even) .recommend__img {
   order: 1;
}
/* recommend 의 짝수의 자식요소중에  recommend의 이미지 태그를
1번째로 오더를 지정 (원래는 0번째,)*/


.recommend__img {
   width: 50%;
   height: 100%;
   border-radius: 10%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: all 0.2s linear;
   
}


.recommend__img:hover {
   transform: scale(1.1);
}

.recommend__ani {
   padding: 2rem;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
   text-align: center;
   line-height: 2rem;
   background-color: var(--color-primary-variant);
   color: var(--color-text);
}

.recommend__ani__name {
   color: var(--color-accent);
   filter: brightness(70%);
}



/* Footer */
#footer{
   background-color: var(--color-primary);
   color: var(--color-text);
}

.footer__menu li {
   display: inline-block;
   margin: 0 15px;
}

.footer__links {
   display: flex;
   justify-content: center;
   gap: 1rem;
   padding: 1rem;
   font-size: 2rem;
}

.footer__link {
   transition: color 250ms ease-in;
}

.footer__link:hover {
   color: var(--color-accent);
}



/***** responsive css Start ******/
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .slide {
    padding: 50px 30px;
  }
  .slide__img {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .slide__img.active {
    width: 400px;
  }
  .slide__text {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}
/* 태블릿 (768px ~ 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  .slide {
    padding: 50px 30px 40px;
  }
  .slide__img {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .slide__img.active {
    width: 360px;
  }
  .slide__text {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
   .recommend {
       flex-direction: column;
   }

   .recommend:nth-child(even) .recommend__img {
       order: 0;
   }

   .recommend__img {
       width: 100%;
       height: 50%;
 
   }

   .recommend__ani {
       font-size:12px;
   }
}

/* 모바일 가로 (576px ~ 767px) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .section {
       padding: 20px 0;
   }

   .title {
       font-size: 18px;
   }
  .line-title {
    width: 250px;
  }
  .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery li:hover {
        flex: 60%;
    }

  .slide {
    padding: 30px 15px 20px;
  }
  .slide__img {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .slide__img.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .slide__text {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } 
  .recommends {
    padding: 0;
  }
   .recommend {
       flex-direction: column;
   }

   .recommend:nth-child(even) .recommend__img {
       order: 0;
   }

   .recommend__img {
       width: 100%;
       height: 50%;
 
   }
   .recommend__ani__name {
    font-size: 14px;
   }

   .recommend__ani {
       font-size:10px;
   }
}

/* 모바일 세로 (~575px) */
@media (max-width: 575px) {
  /* 소형 스마트폰 및 기본 모바일 스타일 */
}
